@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 70 43% 91%;
    --foreground: 228 12% 28%;
    --card: 0 0% 100%;
    --card-foreground: 228 12% 28%;
    --popover: 0 0% 100%;
    --popover-foreground: 228 12% 28%;
    --primary: 68 63% 47%;
    --primary-foreground: 228 12% 28%;
    --secondary: 70 25% 88%;
    --secondary-foreground: 228 12% 28%;
    --muted: 70 25% 88%;
    --muted-foreground: 228 10% 55%;
    --accent: 76 63% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 70 15% 80%;
    --input: 70 15% 80%;
    --ring: 68 63% 47%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 228 10% 20%;
    --foreground: 70 43% 91%;
    --card: 228 10% 25%;
    --card-foreground: 70 43% 91%;
    --popover: 228 10% 25%;
    --popover-foreground: 70 43% 91%;
    --primary: 68 63% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 10% 30%;
    --secondary-foreground: 70 43% 91%;
    --muted: 228 10% 30%;
    --muted-foreground: 70 20% 60%;
    --accent: 76 63% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 10% 35%;
    --input: 228 10% 35%;
    --ring: 68 63% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
