@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 219 70% 28%;
    --primary-foreground: 0 0% 100%;

    --secondary: 209 56% 48%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 209 56% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219 70% 28%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 228 10% 20%;
    --foreground: 00 43% 91%;
    --card: 228 10% 25%;
    --card-foreground: 70 43% 91%;
    --popover: 228 10% 25%;
    --popover-foreground: 70 43% 91%;
    --primary: 68 63% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 10% 30%;
    --secondary-foreground: 70 43% 91%;
    --muted: 228 10% 30%;
    --muted-foreground: 70 20% 60%;
    --accent: 76 63% 47%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 228 10% 35%;
    --input: 228 10% 35%;
    --ring: 68 63% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}